.venv
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
*.egg
dist
build
.ruff_cache
.pytest_cache
.coverage
htmlcov
.mypy_cache
.venv
.env
.idea
.vscode
*.log
logs/
output/
data/
credentials/
.DS_Store
Thumbs.db
chromedriver*
